.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.setimage {
  
  margin-top: 2em ;
  margin-right: 20em;
  background-image: url("https://media.istockphoto.com/id/1316372316/photo/shot-of-a-young-businessman-using-a-laptop-during-a-late-night-in-a-modern-office.jpg?s=612x612&w=0&k=20&c=Xb5GLJ9Eh1Y68m6I0eV6IWsx8PnJbTFfRS9lfghqPYY=");
  background-position: center;
  background-size: cover;
  background-color: red;
  width: 75%;
  height: 50vh;
  border-bottom-left-radius: 600px;
  border: 4px solid black;
}

.about-container {
  background-image: url("https://wallpapers.com/images/hd/profile-picture-background-npa9yae86g2tj6xs.jpg");
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  
}

.sections-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  flex: 1;
  margin-right: 20px;
  padding: 2em;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
  background-color: gray;
  border: 2px solid black;
}

.section-title {
  color: black;
font-weight: bolder;
  
  font-size: 24px;
  margin-bottom: 20px;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 10px;
}

.experience-item, .project, .testimonial {
  margin-bottom: 20px;
}
.project-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.project1 {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
}

.project-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.project-image {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.project-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.project-details {
  font-size: 14px;
  line-height: 1.5;
}



.skill-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.screen-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.skill {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
}

.skill h3 {
  color: #333;
  margin-bottom: 10px;
}

.skill p {
  font-size: 16px;
  line-height: 1.5;
}
